<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${pageTitle} ?: '商城平台'">商城平台</title>
     
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>

        <div th:replace="index/fragments :: navbar"></div>

        <main class="container py-4">
            <div th:replace="index/help :: body"></div>
        </main>

        <div th:replace="index/fragments :: footer"></div>

        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>